.movies-container {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0.15);

  padding: 25px;
}

mat-cell {
  display: flex;
  gap: 7px;
}
