<div class="main-container">
  <mat-card appearance="outlined">

    <mat-toolbar>Informações do filme:</mat-toolbar>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Título" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput placeholder="Ano" formControlName="movieYear">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput placeholder="Diretor" formControlName="director">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="genre">
            <mat-option value="Fantasy">Fantasy</mat-option>
            <mat-option value="Adventure">Adventure</mat-option>
            <mat-option value="Horror">Horror</mat-option>
            <mat-option value="Sci-Fi">Sci-Fi</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onClear()">Limpar</button>
    </mat-card-actions>

  </mat-card>
</div>

<router-outlet></router-outlet>
